body {
    background: url("../img/bg_pattern.png") repeat;
    font-weight: 300;
    font-family: 'Tahoma', 'Verdana';
    margin: 0;
    color: #666;
}

/* Typography */
h1#title {
    font-family: 'Roboto Slab', serif;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    margin: 0 auto;
    max-width: 300px;
    text-align: center;
    position: relative;
    top: 0;
}

h2 {
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    line-height: 2.8em;
}

a {
    text-decoration: none;
    color: #666;
}

a:hover {
    color: #81C716;
    text-decoration: none;
}

p.small {
    margin: 20px 0 0;
}

h3 {
    color: #81C716;
}

/* Layout */
.container-members {
    background: #fff;
    width: 840px;
    margin: 0 auto;
    padding-bottom: 30px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.greymenu {
    width: 100%;
    background-color: #BAB8B8;
    border-top: 1px solid #aaa;
    padding-left: 15px;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
}

.greymenu > #menu-list {
    list-style-type: none;
}

.menu-item:hover {
    background-color: #666;
    padding: 2px 10px 2px 10px;
    border-radius: 5px;
}

.logo-sm {
    width: 40px;
    float: left;
}

.row {
    margin-right: 10px;
    margin-left: 5px;
}

.navbar {
    padding-right: 5px;
}

.top {
    margin: 0;
    padding: 0;
    width: 100%;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99000000', endColorstr='#00000000', GradientType=0);
    /* IE6-9 */
    overflow: hidden;
}

.topleft {
    float: left;
    margin-left: 320px;
    margin-top: 200px;
}

.login-box {
    background-color: white;
    max-width: 500px;
    margin: 0 auto;
    position: relative;
    top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0 5px 50px rgba(0, 0, 0, 0.4);
    text-align: center;
}

.modal-header {
    padding: 35px 50px;
    background-color: rgba(88, 165, 24, 0.55);
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    line-height: 2.8em;
}

.modal-body {
    background-color: white;
    border-radius: 5px;
    text-transform: uppercase;
}

.modal-body input {
    margin-bottom: 20px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.modal-body input[type=submit] {
    border: 1px solid #5B8539;
    background-color: #A3CD80;
    color: white;
    font-weight: bold;
}

.modal-body input[type=submit]:hover{
    background-color: #7CA559;
}
label{
    font-size: 1.5em;
    margin-top: 10px;
}
select{
    padding: 8px;
}
td, th {
    padding: 5px;
}
.login-box input[type=text] {
    width: 65%;
    font-size: 1.5em;
    font-weight: 500;
}
.login-box input[type=password] {
    width: 65%;
    font-size: 1.5em;
}


.register-box {
    background-color: white;
    max-width: 340px;
    margin: 0 auto;
    margin-right: 600px;
    position: relative;
    top: 80px;
    padding-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 5px 50px rgba(0, 0, 0, 0.4);
    text-align: center;
}

.register-box .box-header {
    background-color: rgba(88, 165, 24, 0.55);
    margin-top: 0;
    border-radius: 5px 5px 0 0;
}

.login-box .box-header {
    background-color: rgba(88, 165, 24, 0.55);
    margin-top: 0;
    border-radius: 5px 5px 0 0;
}

.registerform {
    text-align: right;
    margin-right: 10px;
}

.login-box label {
    color: #888;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 2em;
}

.login-box input {
    margin-bottom: 20px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 2px;
    color: #888;
}

.login-box input[type=submit] {
      border: 1px solid #5B8539;
      background-color: #A3CD80;
      color: white;
      font-weight: bold;
    width:35%;
    font-size: 1.5em;
  }
.login-box input[type=submit]:hover{
    background-color: #7CA559;
}

.login-box button {
    margin-top: 0;
    border: 0;
    border-radius: 2px;
    color: white;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #665851;
    cursor: pointer;
    outline: none;
}

.login-box button:hover {
    opacity: 0.7;
    transition: 0.5s;
}

.login-box button:hover {
    opacity: 0.7;
    transition: 0.5s;
}

.selected {
    color: #665851 !important;
    transition: 0.5s;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 225px;
    padding-top: 20px;
}

/* Animation Delay */
#logo {
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 2s;
}

.login-box {
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 1s;
}

/* Pagination */
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #A3CD80;
    border-color: #517731;
    font-weight: bold;
}

.pagination>li>a, .pagination>li>span {
    color: #55AB00;
    font-weight: bold;
}
/* datatable */
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    font-weight: bold;
}

.status_count {
    text-align: left;
    margin-right: 10px;
    margin-bottom: 2px;
}

.badge {
    background-color: #A7A6A6;
}

@media screen and (max-width: 1000px) {
/*
    .login-box {
        max-width: 300px;
    }
*/
    .topleft {
        float: none;
        margin-left: 0;
        margin-top: 0;
    }
}



/* Aangepast door Sander Jordens - below- Source: http://localhost/webproject/Development/*/
.headerbar {
    background-color: black;
    height: 50px;
    width: 100%;
    overflow: hidden;
}

.pxllogo {
    height: 50px;
    width: 50px;
    float: left;
    margin-right: 15px;
}


/*
.login-box {
    top: -20px;
}
*/

.heading {
    display: inline;
    color: white;
}

tr:hover {
    background-color: #f5f5f5;
}

tbody tr:nth-child(even) {
    background-color: #d4ffaa;
}

tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

tbody tr:last-child td {
    border-width: 0 1px 0 0;
}

tbody tr td:last-child {
    border-width: 0 0 1px 0;
}

thead tr:first-child th {
    background: -o-linear-gradient(bottom, #5fbf00 5%, #3f7f00 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #81C716), color-stop(1, #599023));
    background: -moz-linear-gradient(center top, #5fbf00 5%, #3f7f00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5fbf00", endColorstr="#3f7f00");
    background: -o-linear-gradient(top, #5fbf00, 3 f7f00);
    background-color: #5fbf00;
    border: 0 solid #3f7f00;
    text-align: center;
    border-width: 0 0 1px 1px;
    font-family: Arial;
    font-weight: bold;
    color: #ffffff;
}

thead tr:first-child th:first-child {
    border-width: 0 0 1px 0;
}

thead tr:first-child th:last-child {
    border-width: 0 0 1px 1px;
}



/*
*@author: Sander Jordens
*@Source:http://localhost/webproject/Development/members
*Doel: Table responsief maken voor smartphones.

Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/





@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    .form-control{ max-width: 300px;}

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 1px solid #ccc;
    }

    td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    table.smartph>tbody>tr>td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }
    /*
    Labeling van data
    dispatchers.php */
    .dispat tbody td:nth-of-type(1):before {
        content: "Checkbox";
    }

    .dispat tbody td:nth-of-type(2):before {
        content: "Ticket Id";
    }

    .dispat tbody td:nth-of-type(3):before {
        content: "Campus";
    }

    .dispat tbody td:nth-of-type(4):before {
        content: "Place";
    }

    .dispat tbody td:nth-of-type(5):before {
        content: "Subject";
    }

    .dispat tbody td:nth-of-type(6):before {
        content: "Description";
    }

    .dispat tbody td:nth-of-type(7):before {
        content: "Status";
    }

    .dispat tbody td:nth-of-type(8):before {
        content: "Created on";
    }

    /* members.php */
    .memb tbody td:nth-of-type(1):before {
        content: "Checkbox";
    }

    .memb tbody td:nth-of-type(2):before {
        content: "Id";
    }

    .memb tbody td:nth-of-type(3):before {
        content: "Campus";
    }

    .memb tbody td:nth-of-type(4):before {
        content: "Place";
    }

    .memb tbody td:nth-of-type(5):before {
        content: "Subject";
    }

    .memb tbody td:nth-of-type(6):before {
        content: "Description";
    }

    .memb tbody td:nth-of-type(7):before {
        content: "Status";
    }

    .memb tbody td:nth-of-type(8):before {
        content: "Created on";
    }

    /* admins.php */
    .user tbody td:nth-of-type(1):before {
        content: "Checkbox";
    }

    .user tbody td:nth-of-type(2):before {
        content: "Id";
    }

    .user tbody td:nth-of-type(3):before {
        content: "Username";
    }

    .user tbody td:nth-of-type(4):before {
        content: "E-mail";
    }

    .user tbody td:nth-of-type(5):before {
        content: "Role";
    }

    .user tbody td:nth-of-type(6):before {
        content: "Status";
    }
}


/* Anders komt de schaduw van de container niet tot aan de zijkanten */
#login-screen.container {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
}

/* aangemaakt voor w3 validatie  */

.extra {
    cellpadding: 8;
    cellspacing: 2;
    border: 1px solid #C7E9A4;
    border: #C7E9A4;
}

.table>tbody>tr>td {
    border: 1px solid #3f7f00;
}

.checkbox,#select_all {
    cursor: pointer;
    cursor: hand;
}

/*
Source: https://stackoverflow.com/questions/15649244/responsive-font-size
You can use viewport value instead of ems, pxs or pts.
1vw = 1% of viewport width
1vh = 1% of viewport height
1vmin = 1vw or 1vh, whichever is smaller
1vmax = 1vw or 1vh, whichever is larger
*/
h5{
    font-size: 1.4em;
}

@media only screen and (min-width: 901px) {
    /* For desktop:
    Browsers often have a setting for minimum font size,
    */
    h1 {
        font-size: 250%;
    }
    h2 {
        font-size: 150%;
    }
    p {
        font-size: 120%;

    }
}


@media only screen and (max-width: 700px) {
    /* For mobile: */

    h1 {
        font-size: 3vw;
    }
    h3 {
        font-size: 2.8vw;
    }
    p {
        font-size: 2.7vw;

    }

}

@media only screen and (max-width: 500px) {
    /* spacing tabel aanpassen */


    table.smartph > tbody > tr > td {
        padding-left:30%;
    }
 
}

.top{padding-bottom: 4px}